name: publish

on:
  release:
    types:
      - created

permissions:
  contents: write

jobs:
  publish:
    name: Publish for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: wrk
            asset_name: wrk-linux-amd64
          - os: macos-latest
            artifact_name: wrk
            asset_name: wrk-macos-amd64
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: build
        run: make target/wrk

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/${{ matrix.artifact_name }}
          asset_name: ${{ matrix.asset_name }}
          tag: ${{ github.ref }}
